<center>
<h1>User Feedback</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">State</th>
    </tr>
  </thead>
  <tbody>
    <% @profiles.each do |profile| %>
        <tr>
        <th scope="row"><%= profile.id %></th>
        <td scope="row"><%= link_to profile.name, profile %></td>
        <td scope="row"><%= profile.australian_state %></td>
        </tr>
        <% end %>
  </tbody>
</table>